<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="title" content="make.js">
<meta name="description" content="make.js">
<meta name="keywords" content="make.js">
<link href="./bootstrap.min.css" rel="stylesheet">
<link href="./layoutit.css" rel="stylesheet">

<script type="text/javascript" src="./jquery.min.js"></script>
<script type="text/javascript" src="./jquery-ui.min.js"></script>
<script type="text/javascript" src="./jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="./bootstrap.min.js"></script>
<script type="text/javascript" src="./jquery.htmlClean.js"></script>
<script type="text/javascript" src="./scripts.min.js"></script>
</head>
<body class="edit" style="min-height: 652px;">
<!-- nav{} -->
<div class="navbar navbar-fixed-top navbar-layoutit serif">
<div class="navbar-header">
<a href="javascript:;" class="hd-logo"><strong >Make.js</strong></a>
</div>

<div class="collapse navbar-collapse">
<ul class="nav mod-nav" id="menu-layoutit">
<li>

<div class="btn-group" data-toggle="buttons-radio">
<a href="javascript:;" id="edit">编辑</a>
<a href="javascript:;" id="devpreview">开发</a>
<a href="javascript:;" id="sourcepreview">预览</a>
</div>

<div class="btn-group">
<!--<a href="javascript:;" id="button-download-modal" data-target="#downloadModal" data-toggle="modal">下载</a>-->
<a href="javascript:;" id="clear">清空</a>
</div>

</li>
</ul>
</div>
</div>
<!-- nav{} -->
<div class="container">
<div class="row">
<div class="">
<!-- sidebar{} -->
<div class="sidebar-nav serif">
<ul class="nav nav-list accordion-group">
<li class="nav-header">
<i class="glyphicon-plus glyphicon"></i>
Layout
</li>
<li class="rows" id="estRows">
<div class="lyrow ui-draggable">
<a href="javascript:;" class="remove label  ">

 D
</a>
<span class="drag label  ">
 
M
</span>
<div class="preview">
<input type="text" value="12" class="form-control"></div>
<div class="view">
<div class="row clearfix">
<div class="col-md-12 column"></div>
</div>
</div>
</div>
<div class="lyrow ui-draggable">
<a href="javascript:;" class="remove label  ">

 D
</a>
<span class="drag label  ">
 
M
</span>
<div class="preview">
<input type="text" value="6 6" class="form-control"></div>
<div class="view">
<div class="row clearfix">
<div class="col-md-6 column"></div>
<div class="col-md-6 column"></div>
</div>
</div>
</div>
<div class="lyrow ui-draggable">
<a href="javascript:;" class="remove label  ">

 D
</a>
<span class="drag label  ">
 
M
</span>
<div class="preview">
<input type="text" value="8 4" class="form-control"></div>
<div class="view">
<div class="row clearfix">
<div class="col-md-8 column"></div>
<div class="col-md-4 column"></div>
</div>
</div>
</div>
<div class="lyrow ui-draggable">
<a href="javascript:;" class="remove label  ">

 D
</a>
<span class="drag label  ">
 
M
</span>
<div class="preview">
<input type="text" value="4 4 4" class="form-control"></div>
<div class="view">
<div class="row clearfix">
<div class="col-md-4 column"></div>
<div class="col-md-4 column"></div>
<div class="col-md-4 column"></div>
</div>
</div>
</div>
<div class="lyrow ui-draggable">
<a href="javascript:;" class="remove label  ">

 D
</a>
<span class="drag label  ">
 
M
</span>
<div class="preview">
<input type="text" value="2 6 4" class="form-control"></div>
<div class="view">
<div class="row clearfix">
<div class="col-md-2 column"></div>
<div class="col-md-6 column"></div>
<div class="col-md-4 column"></div>
</div>
</div>
</div>
</li>
</ul>
<ul class="nav nav-list accordion-group">
<li class="nav-header">
<i class="glyphicon glyphicon-plus"></i>
CSS

</li>
<li class="boxes" id="elmBase">
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Title</div>
<div class="view">
<h3 contenteditable="true">欢迎大家欣赏Toti的毕设作品.</h3>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview"> Paragraph</div>
<div class="view">
<p> <em>Make.js</em>
是一个微网站发布工具，由 <strong>Toti</strong>
编写，在Node下运行，配合tmt-workflow工作流，
<em>Mock.js</em>
可以完整模仿一个网站的开发。
</p>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>
<div class="preview">Address</div>
<div class="view">
<address contenteditable="true"> <strong>Make.js</strong>
<br>
make by toti 
<br>
share for everyone
</address>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Quota</div>
<div class="view clearfix">
<blockquote contenteditable="true">
<p>
Make.js & Mock.js 结合在一起使用，将极大地提高开发效率
</p>
<small>
Toti
<cite title="Source Title">Scau</cite>
</small>
</blockquote>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Ul-List</div>
<div class="view">
<ul contenteditable="true">
<li>Make 可以让小白也学会使用</li>
<li>Mock 则是更高阶的开发</li>
<li>迅速搭建合适你的微网站</li>
</ul>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Ol-List</div>
<div class="view">
<ol contenteditable="true">
<li>Node</li>
<li>tmt-workflow</li>
<li>aui-artTemplate</li>
<li>gulp</li>
<li>webpack</li>
<li>element-ui</li>
<li>bootstrap</li>
</ol>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Table</div>
<div class="view">
<table class="table" contenteditable="true">
<thead>
<tr>
<th>编号</th>
<th>产品</th>
<th>交付时间</th>
<th>状态</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>TB - Monthly</td>
<td>01/04/2012</td>
<td>Default</td>
</tr>
<tr class="success">
<td>1</td>
<td>TB - Monthly</td>
<td>01/04/2012</td>
<td>Approved</td>
</tr>
<tr class="error">
<td>2</td>
<td>TB - Monthly</td>
<td>02/04/2012</td>
<td>Declined</td>
</tr>
<tr class="warning">
<td>3</td>
<td>TB - Monthly</td>
<td>03/04/2012</td>
<td>Pending</td>
</tr>
<tr class="info">
<td>4</td>
<td>TB - Monthly</td>
<td>04/04/2012</td>
<td>Call in to confirm</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Form</div>
<div class="view">
<form role="form">
<div class="form-group">
<label for="exampleInputEmail1">用户名</label>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Name"></div>
<div class="form-group">
<label for="exampleInputPassword1">密码</label>
<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"></div>
<div class="form-group">
<label for="exampleInputFile">文件上传</label>
<input type="file" id="exampleInputFile">
</div>
<div class="checkbox">
<label>
<input type="checkbox">同意请打勾</label>
<p class="help-block">我已阅读协议。</p>
</div>
<button type="submit" class="btn btn-default">提交</button>
</form>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">BTN</div>
<div class="view">
<button type="button" class="btn btn-default" contenteditable="true">BTN</button>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">PIC</div>
<div class="view">
<img alt="140x140" src="default3.jpg"></div>
</div>
</li>
</ul>
<ul class="nav nav-list accordion-group">
<li class="nav-header">
<i class="glyphicon glyphicon-plus"></i>
Components
</li>
<li class="boxes" id="elmComponents">
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">BTN-Group</div>
<div class="view">
<div class="btn-group">
<button class="btn btn-default" type="button">
<i class="glyphicon glyphicon-align-left"></i>
左
</button>
<button class="btn btn-default" type="button">
<i class="glyphicon glyphicon-align-center"></i>
中
</button>
<button class="btn btn-default" type="button">
<i class="glyphicon glyphicon-align-right"></i>
右
</button>
<button class="btn btn-default" type="button">
<i class="glyphicon glyphicon-align-justify"></i>
全
</button>
</div>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Select</div>
<div class="view">
<div class="btn-group">
<button class="btn btn-default" contenteditable="true">Action</button>
<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
<span class="caret"></span>
</button>
<ul class="dropdown-menu" contenteditable="true">
<li>
<a href="javascript:;">高校</a>
</li>
<li class="disabled">
<a href="javascript:;">华农</a>
</li>
<li class="divider"></li>
<li>
<a href="javascript:;">华工</a>
</li>
</ul>
</div>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Navi</div>
<div class="view">
<ul class="nav nav-tabs" contenteditable="true">
<li class="active">
<a href="javascript:;">首页</a>
</li>
<li>
<a href="javascript:;">简介</a>
</li>
<li class="disabled">
<a href="javascript:;">信息</a>
</li>
<li class="dropdown pull-right">
<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">
下拉 <b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li>
<a href="javascript:;">操作</a>
</li>
<li>
<a href="javascript:;">设置栏目</a>
</li>
<li>
<a href="javascript:;">更多设置</a>
</li>
<li class="divider"></li>
<li>
<a href="javascript:;">分割线</a>
</li>
</ul>
</li>
</ul>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>
<div class="preview">Crumb</div>
<div class="view">
<ul class="breadcrumb">
<li>
<a href="javascript:;" contenteditable="true">主页</a>
</li>
<li>
<a href="javascript:;" contenteditable="true">NIKE</a>
</li>
<li class="active" contenteditable="true">衣服</li>
</ul>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Page</div>
<div class="view">
<ul class="pagination" contenteditable="true">
<li>
<a href="javascript:;">头</a>
</li>
<li>
<a href="javascript:;">1</a>
</li>
<li>
<a href="javascript:;">2</a>
</li>
<li>
<a href="javascript:;">3</a>
</li>
<li>
<a href="javascript:;">4</a>
</li>
<li>
<a href="javascript:;">5</a>
</li>
<li>
<a href="javascript:;">尾</a>
</li>
</ul>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Tab</div>
<div class="view">
<span class="label  " contenteditable="true">标签</span>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Icon</div>
<div class="view">
<ul class="nav nav-pills" contenteditable="true">
<li >
<a href="javascript:;">
<span class="badge pull-right">3</span>
消息
</a>
</li>
<li>
<a href="javascript:;">
<span class="badge pull-right">2</span>
客服
</a>
</li>
</ul>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Div</div>
<div class="view">
<div class="jumbotron" contenteditable="true">
<h1>Make.js</h1>
<p>
一个神奇的系统工具
</p>
<p>
<a class="btn btn-success btn-large" href="javascript:;">下载</a>
</p>
</div>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>
<div class="preview">Header</div>
<div class="view">
<div class="page-header">
<h1 contenteditable="true">
Make.js
<small>一个神奇的工具</small>
</h1>
</div>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>
<div class="preview">Text</div>
<div class="view">
<h2 contenteditable="true">Make</h2>
<p contenteditable="true">
详情介绍
</p>
<p>
<a class="btn btn-more" href="javascript:;" contenteditable="true">查看更多</a>
</p>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Process bar</div>
<div class="view">
<div class="progress">
<div class="progress-bar progress-success" style="width: 60%;"></div>
</div>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Channel</div>
<div class="view">
<div class="media">
<a href="javascript:;" class="pull-left">
<img src="./default7.jpg" class="media-object"></a>
<div class="media-body" contenteditable="true">
<h4 class="media-heading">三生三世，十里紫荆花</h4>
一年一度的紫荆花文化节，即将到来
</div>
</div>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>


<div class="preview">Panel</div>
<div class="view">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title" contenteditable="true">华农</h3>
</div>
<div class="panel-body" contenteditable="true">华工</div>
<div class="panel-footer" contenteditable="true">广工</div>
</div>
</div>
</div>
</li>
</ul>
<ul class="nav nav-list accordion-group">
<li class="nav-header">
<i class="glyphicon glyphicon-plus"></i>
JavaScript
</li>
<li class="boxes mute" id="elmJS">
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>
<div class="preview">Dialog</div>
<div class="view">
<a id="myModalLink" href="javascript:;myModalContainer" role="button" class="btn btnOK" data-toggle="modal">显示</a>
<div class="modal fade" id="myModalContainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="myModalLabel" contenteditable="true">说明</h4>
</div>
<div class="modal-body" contenteditable="true">请说点什么</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal" contenteditable="true">关闭</button>
<button type="button" class="btn btn-default btnOK" contenteditable="true">确定</button>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Nav</div>
<div class="view">
<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="javascript:;">Make.js</a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li class="active">
<a href="javascript:;">技术栈</a>
</li>
<li>
<a href="javascript:;">参考</a>
</li>
<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
支持 <b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li>
<a href="javascript:;">mock</a>
</li>
<li>
<a href="javascript:;">tecent</a>
</li>
</ul>
</li>
</ul>
<form class="navbar-form navbar-left" role="search">
<div class="form-group">
<input type="text" class="form-control" placeholder="Search"></div>
<button type="submit" class="btn btn-default">百度一下</button>
</form>
<ul class="nav navbar-nav navbar-right">
<li>
<a href="javascript:;">我的中心</a>
</li>
<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
客服中心
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li>
<a href="javascript:;">联系客服</a>
</li>
<li>
<a href="javascript:;">电话</a>
</li>
</ul>
</li>
</ul>
</div>
</nav>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Tab-card</div>
<div class="view">
<div class="tabbable" id="myTabs">
<ul class="nav nav-tabs">
<li class="active">
<a href="javascript:;" data-toggle="tab" contenteditable="true">主页</a>
</li>
<li>
<a href="javascript:;" data-toggle="tab" contenteditable="true">复页</a>
</li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab1">
<p contenteditable="true">华农</p>
</div>
<div class="tab-pane" id="tab2">
<p contenteditable="true">华工</p>
</div>
</div>
</div>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>

<div class="preview">Tiptool</div>
<div class="view">
<div class="alert alert-success alert-dismissable" contenteditable="true">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
<h4>注意!</h4>
<strong>Warning!</strong>
上传失败
<a href="javascript:;" class="alert-link">为什么</a>
</div>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>
<div class="preview">Slide</div>
<div class="view">
<div class="panel-group" id="myAccordion">
<div class="panel panel-default">
<div class="panel-heading">
<a class="panel-title" data-toggle="collapse" data-parent="#myAccordion" href="javascript:;collapseOne" contenteditable="true">图书馆守则</a>
</div>
<div id="collapseOne" class="panel-collapse collapse in">
<div class="panel-body" contenteditable="true">请保持安静</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="panel-title" data-toggle="collapse" data-parent="#myAccordion" href="javascript:;collapseTwo" contenteditable="true">图书馆开放时间</a>
</div>
<div id="collapseTwo" class="panel-collapse collapse">
<div class="panel-body" contenteditable="true">9-10</div>
</div>
</div>
</div>
</div>
</div>
<div class="box box-element ui-draggable">
<a href="javascript:;" class="remove label  ">
  
 D
</a>
<span class="drag label  ">
 
M
</span>
<div class="preview">Ppt</div>
<div class="view">
<div class="carousel slide" id="myCarousel">
<ol class="carousel-indicators">
<li class="active" data-slide-to="0" data-target="#myCarousel"></li>
<li data-slide-to="1" data-target="#myCarousel" class=""></li>
<li data-slide-to="2" data-target="#myCarousel" class=""></li>
</ol>
<div class="carousel-inner">
<div class="item active">
<img alt="" src="./default.jpg">
<div class="carousel-caption">
<h4>华南农业大学</h4>
<p>
欢迎同学校友！
</p>
</div>
</div>
<div class="item">
<img alt="" src="./default1.jpg">
<div class="carousel-caption">
<h4>精准热水中心</h4>
<p>
又精又准
</p>
</div>
</div>
<div class="item">
<img alt="" src="default2.jpg">
<div class="carousel-caption">
<h4>校巴服务中心</h4>
<p>
每15min一班
</p>
</div>
</div>
</div>
<a class="left carousel-control" href="javascript:;myCarousel" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="javascript:;myCarousel" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
</div>
</div>
</li>
</ul>
</div>
</div>
<div class="demo ui-sortable" style="min-height: 582px;">

<div id="download-layout"><div class="container">
	<div class="row clearfix">
		
			
</div></div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		// alert($('#download-layout').html());		
	});
</script>
</div>
<script type="text/javascript">

		function saveLayout(){
			return;
			$.ajax({  
				type: "POST",  
				url: "/build_v3/saveLayout",  
				data: { 'layout-v3': $('.demo').html() },  
				success: function(data) {
					//updateButtonsVisibility();
				}
			});
		}
		
		//下载代码
		function downloadLayout(){
			$.ajax({  
				type: "POST",  
				url: "/build_v3/downloadLayout",  
				data: { 'layout-v3': $('#download-layout').html() },  
				success: function(data) { window.location.href = '/build_v3/download'; }
			});
		}
		
		function downloadHtmlLayout(){
			$.ajax({  
				type: "POST",  
				url: "/build_v3/downloadLayout",  
				data: { 'layout-v3': $('#download-layout').html() },  
				success: function(data) { window.location.href = '/build_v3/downloadHtml'; }
			});
		}

		function undoLayout() {
			
			$.ajax({  
				type: "POST",  
				url: "/build_v3/getPreviousLayout",  
				data: { },  
				success: function(data) {
					undoOperation(data);
				}
			});
		}

		function redoLayout() {
			
			$.ajax({  
				type: "POST",  
				url: "/build_v3/getPreviousLayout",  
				data: { },  
				success: function(data) {
					redoOperation(data);
				}
			});
		}

		$(document).on('hidden.bs.modal', function (e) {
		    $(e.target).removeData('bs.modal');
		});

		$('body').on('click', '#continue-share-non-logged', function () {
	   		 $('#share-not-logged').hide();
			 $('#share-logged').removeClass('hide');
	    	 $('#share-logged').show();
		});

		$('body').on('click', '#continue-download-non-logged', function () {
	   		 $('#download-not-logged').hide();
			 $('#download').removeClass('hide');
			 $('#download').show();
			 $('#downloadhtml').removeClass('hide');
			 $('#downloadhtml').show();
			 $('#download-logged').removeClass('hide');
	    	 $('#download-logged').show();
		});

		
    </script>
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title">下载</h4>
</div>
<div class="modal-body">
<div id="download-logged" class="">
<p>
<textarea></textarea>
</p>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
<script type="text/javascript">
	downloadLayoutSrc();
	$('#modal-download-sign-in-button').click(function(event){
		$('.help-inline').hide();
		var form = $('#boxDownloadLoginForm');
		var ajaxLoginUrl = '/login/ajaxLogin';
		jQuery.ajax({
	         type : "post",
	         dataType : "json",
	         url : ajaxLoginUrl,
	         data : form.serialize(),
	         success: function(response) {
	        	 if(response.success){
	        		 $('#download-not-logged').hide();
	        		 $('#download').removeClass('hide');
	        		 $('#download').show();
	        		 $('#downloadhtml').removeClass('hide');
	        		 $('#downloadhtml').show();
	        		 $('#download-logged').removeClass('hide');
		        	 $('#download-logged').show();
	        	 }else {
		        	if(response.errors && response.errors.length > 0){
		        		$.each(response.errors, function(i, item) {
		                    $('#'+item.field+'-download-error').html(item.error);
		                    $('#'+item.field+'-download-error').show();
		        		}); 
			        } 
		         }
			},
			error: function(response) {
				
			}
		});
		
		return false;
	});
</script>
</div>
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title">联系我们</h4>
</div>
<div class="modal-body">
<div id="download-logged" class="">
<div class="alert alert-info">
<a href="">make.js</a>
</div>
</div>
</div>
</div>
</div>
</div>


</body></html>